matplotlib==3.3.3
scipy==1.5.3
scikit_image==0.17.2
pandas==1.1.4
psutil==5.7.3
opencv_python==4.2.0.34
playsound==1.2.2
seaborn==0.11.0
vtkplotter==2020.2.4
numpy==1.19.4
progress==1.5
skimage==0.0
vmtk==1.2
